<div class="container">
<h1> <%= @article.title %> </h1>
<p> <%= @article.content %> </p>

 <li class=""><%= link_to 'Back to List', articles_path %></li>
 <li class=""><%= link_to 'Edit a article', edit_article_path %></li>
<li class=""><%= link_to "Delete",
  article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%></li>
</div>
